@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  
  background: #48328f;
}

.container {
  width: 80%;
  max-width: 400px;
  
  margin: auto;
}

h1 {
  text-align:center;
  color: white;
  
  font-size: 3.4rem;
}

p{
  text-align: center;
  color: #ccc;
  font-size: 16px;
  font-weight: 700; 
}

input {
  width: 100%;
  
  padding: 8px 16px;
  margin-bottom: 32px;
  
  border-radius: 16px;
  border: 1px solid #ccc;
  
  outline: none;
  
  font-size: 1.6rem;
  font-weight:300;
}

ul {
  background: white;
  
  box-shadow: 0px 4px 8px -2px #00000033;
  border-radius: 6px;
  border-bottom: 4px groove black;
  
  padding: 16px;
  
  font-size: 1.4rem;
  
}

li {
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  display:flex;
  align-items: center;
  justify-content: space-between;
  
  border-bottom: 1px solid rgb(54, 53, 53);
}


a {
  display: block;
  
  color: #333;
  text-decoration: none; 
  font-weight: 16px;   
  padding: 16px 0;
  font-size: 1.8rem;
  
}

a:hover {
  font-weight: bold;
}

li:first-child,
li:last-child {
  border: none;
}

li span {
  font-size: 24px;
  font-weight: 600;
  cursor:pointer;
}